.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #2196F3; */
    padding: 10px;
    /* background-color: #add8ab;
    margin-left: 20px;
    margin-right: 20px; */
    
}

.search-input{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-input input {
    width: 25%;
    border-radius: 10px;
    border: green solid;
    height: 3vh;
}

#meal{
    padding: 40px;

}

#all-recipes-title{
    /* background-color: pink; */
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

#title {
    width: 100%;
    text-align: center;
    
}

@media only screen and (max-width: 800px){
    .container{
        grid-template-columns: 1fr; 
    }
}