.moreinfo-container{
    width: 400px;
    /* height: 55vh; */
    background-color: #add8ab;
    position: absolute;
    border-radius: 15px;
    /* padding: 15px; */
    z-index: 1;
    padding: 10px;
} 

.moreinfo-container ul li{
    text-transform: lowercase;
    letter-spacing: 3px;

}

.moreInfo{
    width:100%;
    /* height: 50vh; */
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}


.moreInfo h1{
    font-size: 24px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

ul{
    width: 100%;

}

ul li {
    font-size: 20px;
}

#exit{
    width: 200px;
    height: 30px;
    margin-left: 25%;
    border: solid #e68a35;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #F8F0E3;
}

#exit:hover {
    background-color: #e68a35;
}